<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
            <label for="" class="col-form-label col-sm-10">Este formulario es para cambiar su usuario o contraseña: </label>
        <form #AccountForm="ngForm">
            <div class="form-group row">
                <label for="userAcc" class="col-form-label col-sm-2">User Account</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="account.usuario" name="userAcc"
                        #usuario="ngModel">
                    <div class="alert alert-danger" *ngIf="userAcc.invalid && (userAcc.dirty || userAcc.touched)">
                        <div *ngIf="userAcc.errors.required">
                            User Account es requerido
                        </div>
                        <div *ngIf="userAcc.errors.minlength">
                            Cuenta de usuario debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-form-label col-sm-2">Password</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="account.password" name="account"
                        #password="ngModel"> <!-- required -->
                    <div class="alert alert-danger" *ngIf="account.invalid && (account.dirty || account.touched)">
                        <div *ngIf="account.errors.required">
                            password es requerido
                        </div>
                    </div>
                </div>
            </div>
                <button class="btn btn-primary" role="button" (click)='update()'
                    [disabled]="!clienteForm.form.valid">Editar</button>
        </form>

    </div>
</div>