<div class="card border-primary mb-3">
  <div class="card-header">Cuentas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Cuentas</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/account/add']">
        Agregar Cuenta
      </button>
    </div>
    <div *ngIf="accounts?.length== 0" class="alert alert-info">
      No hay registros de usuarios!
    </div>
    <table class="table table-bordered table-striped" *ngIf="accounts?.length >0 ">
      <thead>
        <tr>
          <th>id</th>
          <th>Cuenta</th>
          <th>bio</th>
          <th>foto_bio</th>
          <th>following</th>
          <th>followers</th>
          <th>post</th>
          <th>observaciones</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar</th>
          
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Like</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Comment</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Follow</th>


          <th *ngIf="authService.hasRole('ROLE_ADMIN')" (click)="this.config = 0  ">Configurar</th>




      </thead>
      <!--
         <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel"> <!- - required minlength="4" -- >
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>
    -->
      <tbody>
        <tr *ngFor="let acc of accounts">
          <td>{{ acc.id }}</td>
          <td>@{{ acc.userAcc }}</td>
          <td>{{ acc.bio }}</td>
          <img src="{{ acc.foto_bio }}" width="50" height="50"
            fallback='C:/Users/jjuan/Desktop/GatzMiercolesMañana/Gantz/front/src/assets/perfil.png' />
          <td>{{ acc.following }}</td>
          <td>{{ acc.followers }}</td>
          <td>{{ acc.post }}</td>
          <td>{{ acc.observaciones }}</td>


          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="editar" class="btn btn-primary btn-sm"
              [routerLink]="['/account/edit', acc.id]">editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="eliminar" class="btn btn-danger btn-sm" (click)='delete(acc)'>eliminar</button>
          </td>

          <td> <input type="checkbox" disabled data-toggle="toggle"> </td>
          <td> <input type="checkbox" checked data-toggle="toggle"> </td>
          <td> <input type="checkbox" checked data-toggle="toggle"> </td>

          <div *ngIf="!config">
            nada
          </div>

        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
  </div>
</div>