<div class="card border-primary mb-3">
<div class="card-header">Cuentas</div>
<div class="card-body text-primary">
    <h5 class="card-title">Listado de Cuentas</h5>
    <div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/account/add']">
        Agregar Cuenta
    </button>
    </div>
    <div *ngIf="accounts?.length== 0" class="alert alert-info">
        No hay registros de usuarios!
    </div>
    <table class="table table-bordered table-striped" *ngIf="accounts?.length >0 ">
    <thead>
        <tr>
            <th>id</th>
            <th>bio</th>
            <th>foto_bio</th>
            <th>following</th>
            <th>followers</th>
            <th>post</th>
            <th>observaciones</th>
            <th>create_at</th>
        <th>
            editar
        </th>
        <th>eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let acc of accounts">
        <td>{{ acc.id }}</td>
        <td>{{ acc.bio }}</td>
        <td>{{ acc.foto_bio }}</td>
        <td>{{ acc.following }}</td>
        <td>{{ acc.followers }}</td>
        <td>{{ acc.post }}</td>
        <td>{{ acc.observaciones }}</td>
        <td>{{ acc.create_at }}</td>
        <td>
            <button type="button" name="editar" class="btn btn-primary btn-sm" [routerLink]="['/account/edit', acc.id]">editar</button>
        </td>
        <td>
            <button type="button" name="eliminar"   class="btn btn-danger btn-sm" (click)='delete(acc)'>eliminar</button>
        </td>
        </tr>
    </tbody>
    </table>

</div>
</div>
